#board{
    width: 554px;
    height: 560px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}